html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

.main-content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
}


nav {
    padding: 30px 20px;
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: rgba(37, 36, 36, 0.5);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-link {
    white-space: nowrap;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    /* transition: background-color 0.3s ease, color 0.3s ease; */
    font-family: "Montserrat", sans-serif;
}

.nav-link:hover {
    background-color: #efefef;
    color: #42adeb;
}

.nav-link.active {
    background-color: #0b98e9;
    color: #ffffff !important;
    font-weight: 700;
}

/* --- Stili MangaCard esistenti --- */
.btn-outline-secondary {
    transition: background-color 0.3s ease;
}

.btn-outline-secondary:hover {
    background-color: #5a6268;
}

.anime-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.anime-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.anime-card img:hover {
    transform: scale(1.03);
}

a {
    text-decoration: none;
    color: inherit;
}

.m-bott {
    margin-bottom: 100px;
}



.gradient {
    /* background: radial-gradient(circle, #d18717 0%, #9c2525 100%);
    color:white; */
    background-color: #f6f6f8;
}

.nav-link.active {
    background-color: #E75924;
    color: #ffffff !important;
    font-weight: 700;
}

.nav-link:hover {
    background-color: #efefef;
    color: #E75924;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #E75924;
    --bs-btn-border-color: #E75924;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #E75924;
    --bs-btn-hover-border-color: #E75924;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #E75924;
    --bs-btn-active-border-color: #E75924;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #E75924;
    --bs-btn-disabled-border-color: #E75924;
}

.btn-outline-primary {
    --bs-btn-color: #E75924;
    --bs-btn-border-color: : #E75924;
    --bs-btn-border-color: #E75924;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #E75924;
    --bs-btn-hover-border-color: #E75924;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #E75924;
    --bs-btn-active-border-color: #E75924;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #E75924;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #E75924;
    --bs-gradient: none;
}

/* Series details */
.fade-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
    /* Puoi cambiare #fff con il colore di sfondo della pagina */
    pointer-events: none;
}